<footer class="pb-4">
	<div class="container text-center">
		<a href="http://opencart-russia.ru" target="_blank">{{ text_project }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://forum.opencart-russia.ru/threads/ustanovka.10297/" target="_blank">{{ text_documentation }}</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="https://forum.opencart-russia.ru" target="_blank">{{ text_support }}</a>
		<br/><br/>
		{{ text_footer }}
	</div>
</footer>
</div>
</body>
</html>
